.dashboard-date-label {
  display: flex;
  gap: 8px;
  align-items: center;

  &__line {
    border: 1px solid $dark-color-background-headlines;
    height: 0;
    flex: 1 1 0;
  }

  &__value {
    @include button-2;
    color: $dark-color-text-secondary;
    background-color: $dark-color-background-headlines;
    padding: 4px 8px;
    border-radius: 999px;
    flex: 0 0 auto;
  }
}
