@import "@/lib/styles/main.pcss";
@import "@/lib/styles/side-styles.pcss";

@import "./components/navbar/Navbar.pcss";

@import "./pages/login/LoginPage.pcss";
@import "./pages/register/RegisterPage.pcss";

@import "./features/auth/styles/LoginForm.pcss";
@import "./features/auth/styles/RegisterForm.pcss";
@import "./features/auth/styles/LogoutButton.pcss";

@import "./features/dashboards/pages/DashboardsPage.pcss";
@import "./features/dashboards/styles/main/MainSection.pcss";
@import "./features/dashboards/styles/main/DashboardQuestions.pcss";
@import "./features/dashboards/styles/main/DashboardResources.pcss";
@import "./features/dashboards/styles/main/DashboardExpertise.pcss";
@import "./features/dashboards/styles/main/DashboardBuilding.pcss";
@import "./features/dashboards/styles/main/DashboardLand.pcss";
@import "./features/dashboards/styles/common/DashboardBase.pcss";
@import "./features/dashboards/styles/common/DashboardDate.pcss";
@import "./features/dashboards/styles/common/Legend.pcss";
@import "./features/dashboards/styles/common/DashboardSkeleton.pcss";
